node_modules
dist
yarn-error.log
.vscode
.DS_Store

\.idea/

build/

\.firebase/

converter/gtfs/

files/

journeyfetcher/output/


journeyfetcher/stop*\.json.gz
journeyfetcher/journeys*\.json.gz

journeyfetcher/gtfs-files*\.zip


public/data/journeys\.json
