html {
    min-height: 100%;
}

body {
    font-family: sans-serif;
    background-color: black;
}

body,
#root {
    height: 100vh;
    overflow: hidden;
}

body,
a {
    color: #fff;
}

body,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/DIN-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/DIN-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/DIN-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
